body{
  margin:0;
  padding: 0;
  color:white;
  font-family: 'Maven Pro', sans-serif;
}

.ImgScrollDown{
  background-image: url("../../images/down2.svg");
  background-size: cover;
}

.ImgScrollDown:hover{
  background-image: url("../../images/down1.svg");
}

.ImgScrollUp{
  background-image: url("../../images/up2.svg");
  background-size: cover;
}

.ImgScrollUp:hover{
  background-image: url("../../images/up1.svg");
  cursor: pointer;
}


#iconScrollIndiConatiner{

    position: fixed;
    height: 40px;
    width: 40px;
    left:80vw;
    top:86vh;
    z-index: 98;
}

#imgScrollIcon{
  height: 40px;
  width: 40px;
}

/*
#imgScrollIcon:hover{
  cursor: pointer;
  background-image: url("../../images/down1.svg");
}
*/

.border{
  border:solid 1px red;
}

.visible{
  display:block;
}

.noVisible{
  display: none;
}

#headerback{

  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0px;
  top:0px;
  background-color: rgba(0,0,0,0.5);

}

#headerbackChild{
  position: absolute;
  left: 0px;
  top:0px;
  background-image: URL("../../images/back02.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#headerContent{
  height: 100vh;
}

#pageLogoTitleContainerParent{
  text-align: center;
  width: 1005;
}

#pageLogoTitleContainer{
   height: 70vh;
   width: 100%;
   display: table;
   table-layout: fixed;
}

#pageLogoTitleContainerChild{
   display:table-cell;
   vertical-align:middle;
   text-align:center;
}

#pageLogoTitle{
   font-family: 'Lobster', cursive;
   animation-duration: 0.5s;
   animation-name: titleAppear;
   margin: auto;
   font-size: 100px;
   margin-top: 200px;
   transform:rotate(-7deg);
   -ms-transform:rotate(-7deg);
   -webkit-transform:rotate(-7deg);
}


#pageLogoTitleFooter{
   font-family: 'Lobster', cursive;
   animation-duration: 0.5s;
   animation-name: titleAppear;
   margin: auto;
   font-size: 50px;
   margin-top: 50px;
   margin-bottom: 50px;  
   transform:rotate(-7deg);
   -ms-transform:rotate(-7deg);
   -webkit-transform:rotate(-7deg);
}


#headerMenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#headerMenu li{
  display: inline;
  margin-left: 20px;
}

#headerMenu li a{
  color:white;
  font-size: 40px;

}

#headerMenu li a:hover{

  cursor: pointer;
  animation-duration:0.5s;
  animation-name: linkAppear;
  animation-direction: alternate;
  color:#35DEFF;
  text-decoration: none;
}

#iconMenuContainer{
  position: fixed;

  border-radius:45px;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 40px;
  left: 10px;
  top: 10px;
  padding-top: 2px;
  z-index: 100;
  background-color: #239BB2;
  display: none;

}

#iconMenuContainer:hover{
  background-color: #29BDDB;
  animation-duration: 0.5s;
  animation-name: menuMovileHover;
  animation-direction: alternate;
  cursor: pointer;
}

.imageFoodContainer{
  position: absolute;
  height: 15%;
  width: 15%;

}

.rot45{
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.rot45min{
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

#movileMenuConatiner{
  display: none;
}


.imgFoodConatiner1_P1{
  left: -200px;
  top:-200px;

}

.imgFoodConatiner1_P2{
  left: 10vw;
  top: 65vh;
  -webkit-transition: left 0.5s , top 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s , top 0.5s;
}


.imgFoodConatiner2_P1{
  left: 130vw;
  top: 130vh;
}

.imgFoodConatiner2_P2{
  left: 70vw;
  top: 10vh;
  -webkit-transition: left 0.5s , top 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s , top 0.5s;
}

.sectionTitle{
  
  width: 100%;
  background-color: #2BBFDC;
}

.lblTitle{
  font-size:50px;
}

.titlePart{
  color: #2d2d2d;  
  font-size: 50px;
}

.infoText{
  padding: 10px;
  color: #2d2d2d;
  font-size: 30px;
  text-align: justify;
  text-justify: inter-word;
}


#footerSection{
  background-color: #2d2d2d;
  padding: 20px;
}

#btn-suscribe{
  
  width: 100%;
  height: 50px;

}

.btn-default{
  color:white;
  font-weight: bold;
  font-size: 25px;
  background-color:#237C8E;
  border:solid 1px #237C8E;
  -webkit-transition: background-color 1s , border 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s , border 1s;
 
   
}

.btn-default:hover{ 
  background-color:#2BBFDC;
  border:solid 1px #2BBFDC;
  color:white;
}

/**HomeSection***********************************/

.homeTitleimgPadding{
    padding: 20px;   
}

.homeTitleImg{
  width: 50%;
  height: auto;
}



.homeSectionText{
  font-weight: bold;
  font-size: 40px;
  margin-top: -10px;
}

.catName{
  color:black;
  font-size: 30px;
}

.catBody{
  width: 100%;
  background-color: white;
  border-radius: 100px; 
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;

}

.catBody:hover{
  background-color:#2BBFDC;
  border-radius: 100px; 
}

#aboutUsSection{
  margin-bottom: 20px;
}

.categoryItem{
  cursor: pointer;
  padding: 20px;
}

/**HomeSection***********************************/


/**ProductsSection**/

#productsContainer{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}



.card{
  width: 100%;
  height: auto;
  padding: 2px;
  border:solid 1px #C3C4C4; 
  border-radius: 6px; 
  margin-bottom: 20px; 
  webkit-box-shadow: 9px 10px 19px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 19px -6px rgba(0,0,0,0.75);
  box-shadow: 9px 10px 19px -6px rgba(0,0,0,0.75);

   -webkit-transition: background-color 0.8s , color 0.3s;
  transition: background-color 0.8s , color 0.3s;
  
  color:#2d2d2d;
  margin-top: 20px;

}

.card:hover{
  cursor: pointer;
  background-color: #086A87;   
  color:white;

}

.cardImg{
  width: 100%;
  height: 100%;
}

.cardProductName{

  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  
}

.stateCard{
  height: 30px;
  color:#2d2d2d;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;

}

.stateCardAvailable{
  background-color: #2BBFDC;
  color: white; 
}


.stateCardNoAvailable{
  background-color: gray;
  color: white;
}

.imgBest{
 
  height: 70px;
  width:70px;
  position: absolute;
  left:-10px;
  top:-10px;
  transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  -webkit-transform:rotate(35deg);

}

.hidden{
  display: none;
}

.shown{
  display: block;
}

.cardPrice{

  font-size: 30px;
  padding-top: 40px;

}

.cardPriceModal{
  font-size: 30px;
}

#btnDetail{
  width: 70%;
  border:solid 1px white;
}

#btnDetail:hover{
  border:solid 1px #086A87;
}

#sectionMaodal{
  color: #2d2d2d;
}

.modal-title{
  font-size: 30px;
  text-transform: uppercase;
}

.modalDesc{
  font-size: 20px;
  text-align: center;
  /*text-align: justify;
  text-justify: inter-word;
  */
}

#modalUnitsTableContainer{
  text-align: center;
  margin-left: 50px;
}

.col-units{
  background-color: #086A87;
  height: 50px;
  color:white;
  font-size: 30px;
  border:1px solid white;
}

.col-units:hover{
  background-color: #2BBFDC;
  cursor:pointer;
}

.col-units:active{
  background-color: #2d2d2d;
}

.col-center-units{
  
  background-color: #086A87;
  height: 50px;
  color:white;
  font-size: 30px;
}

.col-left-units{
  border-radius: 6px 0 0 6px;
}

.col-right-units{
  border-radius: 0 6px 6px 0;
}


.lbl-radio{
  font-size: 30px;
  color: #2d2d2d;
}

.radio{
  padding: 10px;
}

.rdn-source{
   transform: scale(2);
   margin-top
}

.spanTextRadio{
  margin-left: 30px;

}

#sectionFilters{
  margin-top:20px;
  
}

#pathSource{
  font-size: 25px;
}

#btn-search{
  margin-top: 20px;
  height: 60px;
  font-weight: 25px;
  padding: 2px;
}

#pathSource{
  height: 60px;
}

.pagination{
  font-size: 25px;
}

.active{
  background-color: #2BBFDC;
}

/**ProductsSection**/

/*Side filter*/

#sideFilter{
  
  color:black;
    
  border-radius: 4px;
  margin: 0px;
  padding: 0px;

  margin-top: 10px;

}

.filterHeader{
  background-color: #2bbfdc;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  padding: 2px;
  color:white;
}

.filterHeader h3{
  font-size: 40px;
}

.txtNameContainer{
  padding: 2px;
}

.txtFilterControl{
  height: 40px;
  font-size: 30px;
  margin-bottom: 10px;
}

/*Side filter*/

/*CarShopp*/

 #carShopp{
  position: fixed;
  height: 60px;
  width: 70px;
  left:0px;
  top:85vh;
  background-color: #237c8e ;
  border:solid 2px #2bbfdc;
  border-radius: 0 20px 20px 0;
  margin-left: -10px;
  padding: 5px;
  z-index:99;

  -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.5s;

 } 

 #carShopp:hover{
  background-color: #2bbfdc;
  border:solid 2px #237c8e;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
 }



 #imgCarShop{
  height:40px;
  width: 40px;
  margin-left: 10px;
  margin-top:5px;
 }

 #imgCarShop2{
  
  height:30px;
  width: 30px;
  
 }

 #myModal2{
  color:black;
 }


.CarShopProductName{
  font-size: 20px;
  font-weight: bold;
  color: #2d2d2d;
  text-transform: uppercase;
}

.CarShopProductLic{
  font-size: 18px;
  font-weight: bold;
  color: #2d2d2d;
  text-transform: uppercase;
}

.imgCarShop{
  width: 100%;
  height: auto;
}

#btn-carShop-close{
  width: 40%;
  height: 40px;
}

#btn-carShop-close2{
  width: 40%;
  height: 40px;
}

.last-row-carshop{
  border-bottom: solid 1px #237c8e;
  margin-right: 10px;

}

#licTotalLbl{
  font-size: 30px;
  color:#2d2d2d;  
}

#repaterShop{
  max-height: 60vh;
  overflow-y:auto;
}


/*CarShopp*/


/*Animations*/
@keyframes titleAppear {
  from {
    font-size: 10px;
  }
  to {
    font-size: 100px;
  }
}

@keyframes linkAppear {
  from {
    color: white;
  }
  to {
    color:#35DEFF;
  }
}

@keyframes menuMovileHover {
  from {
     background-color: #239BB2;
  }
  to {
      background-color: #29BDDB;
  }
}

/*Media Queries*/

@media only screen and (max-width: 550px) {

  @keyframes titleAppear {
    from {
      font-size: 10px;
    }
    to {
      font-size: 60px;
    }
  }

  #btn-search{
    width: 100%;
  }

  #iconMenuContainer{
    display: block;
  }

  #movileMenu{
    display: table;
    table-layout: fixed;
    z-index: 99;
  }

  #headerMenuContainer{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    width: 100%;
  }

  #headerMenu li{
    display: block;
    margin-left: 0px;
    border-bottom: solid 2px white;
  }

  #headerMenu li:first-child{
   border-top: solid 2px white;
  }

  #headerMenu li a{
     font-size: 60px;
  }

  #pageLogoTitle{
     font-size: 60px;
     margin-top: 0px;
  }

  #pageLogoTitleContainer{
    height: 100vh;
  }

  .menuOculto{

      position: fixed;
      left:-100%;
      top:0px;
      width: 100%;
      height: 100vh;
      background-color: rgba(35,155,178,0.8);
      -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
      transition: left 0.5s;

  }

  .menuVisible{
    position: fixed;
    left:0;
    top:0px;
    background-color: rgba(35,155,178,0.8);
    width: 100%;
    height: 100vh;
    z-index: 10;

    -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: left 0.5s;

  }

}
