<section id="homeSection">

    <!--HomeServiceOptions-->
	<div id="homeTitle" class="sectionTitle">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/clock.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">On time</h2>
					 	 </div>
					 </div>
				</div>
				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/deliver.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">Free deliver</h2>
					 	 </div>
					 </div>
				</div>
				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/mobile.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">Follow your package</h2>
					 	 </div>
					 </div>
				</div>

			</div>
		</div>
	</div>
	<!--HomeServiceOptions-->

	<div id="aboutUsSection">
	 <div class="container">
	 	<div class="row text-center">
	 		
	 		<div class="col-xs-12 text-center">
	 			
	 			<div class="row text-center">			
	 			<div ng-repeat="category in categories" class="col-xs-12 col-lg-3 categoryItem">
	 				
	 				<div class="row text-center">
	 				 <div class="col-xs-12">
		 				<div class="catName">
		 					{{category.name}}
		 				</div>
		 			 </div>
		 			 <div class="col-xs-12">
		 				<div class="catBody">
		 					<img src="{{getCategoryImg(category.name)}}">
		 				</div>
		 			 </div>
	 				</div>
	 				
	 			</div>
	 			</div>

	 		</div>
	 	</div>

	 </div>
	</div>


</section>
