<section id="homeSection">

    <!--HomeServiceOptions-->
	<div id="homeTitle" class="sectionTitle">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/clock.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">On time</h2>
					 	 </div>
					 </div>
				</div>
				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/deliver.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">Free deliver</h2>
					 	 </div>
					 </div>
				</div>
				<div class="col-xs-12 col-lg-4">
					 <div class="row text-center">
					 	<div class="col-xs-12 homeTitleimgPadding">
					 		<img class="homeTitleImg" src="../../images/mobile.svg">
					  	</div>
					  	<div class="col-xs-12 homeTitleimgPadding">
					  		<h2 class="homeSectionText">Follow your package</h2>
					 	 </div>
					 </div>
				</div>

			</div>
		</div>
	</div>
	<!--HomeServiceOptions-->

	<div id="aboutUsSection">
	 <div class="container">
	 	<div class="row text-center">
	 		<div class="col-xs-12">
	 			<h1 class="titlePart">About us</h1>
	 		</div>
	 		<div class="col-xs-12">
	 			<p class="infoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate gravida congue. Nulla facilisi. Maecenas eu elementum diam. In gravida, lorem vel bibendum varius, massa magna pretium sem, semper dignissim odio nibh ut lacus. Sed tincidunt nunc rutrum convallis tincidunt. Integer dui sem, semper at malesuada sit amet, venenatis sed turpis. Praesent in est nec urna porta facilisis quis nec orci. Aliquam erat volutpat. Duis posuere nulla fringilla leo rhoncus, at accumsan urna lacinia. Nullam et neque nec nibh maximus egestas sed vitae diam. Donec a sem dictum, auctor eros ac, molestie dui. Sed a ante sodales, aliquet nisi id, rhoncus mi. Sed feugiat mauris a ante hendrerit, a dictum tortor volutpat. Donec sed augue et dolor condimentum pellentesque eu id orci.</p>
	 		</div>
	 	</div>

	 </div>
	</div>


</section>
