<section id="headerSection">
  <div id="headerback">

  </div>
  <div id="headerContent">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-lg-4 border">
          A
        </div>
        <div class="col-xs-12 col-lg-4 border">
          B
        </div>
        <div class="col-xs-12 col-lg-4 border">
          C
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center vcenter border">
            <div id="pageLogoTitleContainer">
              <div id="pageLogoTitleContainerChild">
                <h1 id="pageLogoTitle">ShoppCart HZ</h1>
              </div>
            </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-lg-4 border">
        </div>
        <div class="col-xs-12  col-lg-4 border">
        </div>
        <div class="col-xs-12  col-lg-4 border">
        </div>

      </div>

    </div>
  </div>
</section>
