
<section id="headerSection">
  <div id="headerback">

  </div>

  <div id="headerContent">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 text-center vcenter ">
            <div id="pageLogoTitleContainer">
              <div id="pageLogoTitleContainerChild">
                <!--<h1 id="pageLogoTitle">ShoppCart HZ</h1>-->
                <h1 id="pageLogoTitle">--</h1>
              </div>
            </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-lg-3 ">
        </div>
        <div class="col-xs-12  col-lg-6 ">
          <section id="movileMenu" class="menuOculto">
            <div id="headerMenuContainer">
              <ul id="headerMenu">
                <li><a>.</a></li>
                <li><a>.</a></li>
                <li><a>.</a></li>
              </ul>
          </div>
          </section>
        </div>
        <div class="col-xs-12  col-lg-3 ">
        </div>

      </div>


    </div>
  </div>

  <!--ImagesFood-->
  <div id="imgFoodConatiner1" class="imageFoodContainer imgFoodConatiner1_P1 rot45">
    <img class="imgFood" src="images/sand.png">
  </div>

  <div id="imgFoodConatiner2" class="imageFoodContainer imgFoodConatiner2_P1 rot45min">
    <img class="imgFood" src="images/sand.png">
  </div>

  <!--/imagesFood-->

  <div id="iconMenuContainer"><div id="iconMenuContainerChild">&#9776;</div></div>
  <div id="iconScrollIndiConatiner"><div id="iconScrollIndiConatinerChild"><div id="imgScrollIcon" class="ImgScrollDown"></div></div></div>

</section>
