
<section id="headerSection">
  <div id="headerback">

  </div>

  <div id="headerContent">
    <div class="container-fluid">


      <div class="row">
        <div class="col-xs-12 text-center vcenter border">
            <div id="pageLogoTitleContainer">
              <div id="pageLogoTitleContainerChild">
                <h1 id="pageLogoTitle">ShoppCart HZ</h1>
              </div>
            </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-lg-3 border">
        </div>
        <div class="col-xs-12  col-lg-6 border">
          <section id="movileMenu" class="menuOculto">
            <div id="headerMenuContainer">
              <ul id="headerMenu">
                <li><a>Home</a></li>
                <li><a>Products</a></li>
                <li><a>About</a></li>
              </ul>
          </div>
          </section>
        </div>
        <div class="col-xs-12  col-lg-3 border">
        </div>

      </div>


    </div>
  </div>

  <!--ImagesFood-->
  <div id="imgFoodConatiner1" class="imageFoodContainer imgFoodConatiner1_P1">
    <img class="imgFood" src="images/sandwich.svg">
  </div>
  <!--/imagesFood-->

  <div id="iconMenuContainer" class="hidden-md-up"><div id="iconMenuContainerChild">&#9776;</div></div>
</section>
